
        <nb-tabset>
                <nb-tab tabTitle="All Sales">
                  
      
                          <nb-card-body>
                                  <div class="row">
                                      <div class="col-6">
                     
                                      </div>
                                      <div class="col-6">
                                            
                                                              </div>
                                  </div>
                                  
                                  
                                 
                              </nb-card-body>
                              
      
               
              </nb-tab>

              
                <nb-tab tabTitle="Cutomers">
                    <div class="row">
      
                      <div class="col-6">
                           
                      </div>
      
                      <div class="col-6">
                             
      
                              <div class="dropdown">
                                      <button class="btn btn-primary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              New Customers
                                      </button>
                                   
                                    </div>
                      </div>
                        
                        
                      
                    </div>
                
      
                 <nb-card>
                      <nb-card-body>
      
     
      <div>
              <div class="form-group pull-right">
                      <input type="text" class="search form-control  ml-3" style="width: 20%" placeholder="search....">
                  </div>
                  <span class="counter pull-right"></span>
              <div class="container demo">
                      <table class="datatable table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>RULE NAME</th>
                            <th>CONDITIONS</th>
                            <th>SETTINGS</th>
                            <th>AUTO-ADD</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                          </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                      </table>
                    </div><!--/.container.demo -->
      </div>
                          </nb-card-body>
                 </nb-card>
                
      
                </nb-tab>

                <nb-tab tabTitle="Products and Services">
                  
      
                        <nb-card-body>
                                <div class="row">
                                    <div class="col-6">
                  
                                    </div>
                                    <div class="col-6">
                                          
                                                            </div>
                                </div>
                                
                                
                               
                            </nb-card-body>
                            
    
             
            </nb-tab>
             
              </nb-tabset>
          