
        <nb-tabset>
          <nb-tab tabTitle="Banking">
            

                    <nb-card-body>
                            <div class="row">
                                <div class="col-6">
                <h2  class="text-primary ml-4">Automate income and expense tracking</h2>
                                </div>
                                <div class="col-6">
                                      
                                                        </div>
                            </div>
                            
                            
                           
                        </nb-card-body>
                        

         
        </nb-tab>
          <nb-tab tabTitle="Rules">
              <div class="row">

                <div class="col-6">
                        <h5 class="text-red mt-3 mb-5 " style="text-align: left" >Rules</h5>
                </div>

                <div class="col-6">
                       

                        <div class="dropdown">
                                <button class="btn btn-primary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        New Rules
                                </button>
                             
                              </div>
                </div>
                  
                  
                
              </div>
          

           <nb-card>
                <nb-card-body>

<div class="border border-primary mb-5">
    <p class="p-1 m-1">XYZVent applies only one rule per transaction and you prioritise the rules.</p>

</div>

<div>
        <div class="form-group pull-right">
                <input type="text" class="search form-control  ml-3" style="width: 20%" placeholder="search....">
            </div>
            <span class="counter pull-right"></span>
        <div class="container demo">
                <table class="datatable table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>RULE NAME</th>
                      <th>CONDITIONS</th>
                      <th>SETTINGS</th>
                      <th>AUTO-ADD</th>
                      <th>STATUS</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                  </tbody>
                </table>
              </div><!--/.container.demo -->
</div>
                    </nb-card-body>
           </nb-card>
          

          </nb-tab>
       
        </nb-tabset>
    